@charset "utf-8";
.CSS1 {
    text-align: center;
}
.CSS2 {
    background-color: #222226;
    color: #DBDADA;
}
.CSS3 {
    color: #5179CB;
}
.CSS4 {
    color: #FFFFFF;
}
.CSS5 {
    background-color: #818181;
}
.CSS6 {
    color: #E5E5E5;
    text-align: center;
    text-decoration: none;
    font-size: xx-large;
}
.CSS7 {
}
.CSS8 {
    color: #EDEDED;
}
